<html>
    <body>

        <form method="post" action="/">
            <div>
                <h2>3d printer factory control</h2>
                <input size="16" type="submit" value="Turn off" name="Turn off"/>
                <input size="16" type="submit" value="Turn on" name="Turn on" />
                <h2>The beast GPU super computer control</h2>
                <input size="16" type="submit" value="beast off" name="beast off"/>
                <input size="16" type="submit" value="beast on" name="beast on" />
                <h2>Smart home controll</h2>
                <p> Heating </p>
                <p> Air quality </p>
                <p> Climate is: {{ value }} </p>
                <h2>Autonomous garden(food production control)</h2>

                <h2>Renovable energy production control</h2>

                <h2>Smart car control</h2>
                <p> parking position </p>
                <p> position: {{car_value}}</p>
                <h2>Smart lamp 1</h2>
                <p>R <input type = "text" name = "r" /></p>
                <p>G <input type = "text" name = "g" /></p>
                <p>B <input type = "text" name = "b" /></p>
                <p>Intensity <input type ="text" name = "intensity" /></p>
                <p><input type = "submit" value = "change color" name="change color" /></p>
                <p><input type = "submit" value = "Off lamp" name="Off lamp" /></p>
                <p><input type = "submit" value = "White" name="White" /></p>
                <p><input type = "submit" value = "Blue" name="Blue" /></p>
                <p><input type = "submit" value = "Yellow" name="Yellow" /></p>
                <p><input type = "submit" value = "Red" name="Red" /></p>
                <p><input type = "submit" value = "Green" name="Green" /></p>
            </div>
        </form>
    </body>
</html>
