<html>
    <body>

        <form method="post" action="/">
                <h2>3d printer factory control</h2>
                <input size="16" type="submit" value="Turn off" name="Turn off"/>
                <input size="16" type="submit" value="Turn on" name="Turn on" />
                <h2>The beast GPU super computer control</h2>
                <input size="16" type="submit" value="beast off" name="beast off"/>
                <input size="16" type="submit" value="beast on" name="beast on" />
                <h2>Smart home controll</h2>
                <p> Heating </p>
                <p> Air quality </p>
                <p> Climate is: {{ value }} </p>
                <h2>Autonomous garden(food production control)</h2>

                <h2>Renovable energy production control</h2>

                <h2>Smart car control</h2>
                <p> parking position </p>
                <p> position: {{car_value}}</p>
            </div>
        </form>
    </body>
</html>
